* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: darkcyan;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 32px;
  font-size: 18px;
  font-weight: 600;
}

.todo {
  padding: 32px;
  background-color: white;
  width: 90vw;
  border-radius: 15px;
}

.todo_content {
}
.todo_header {
}
.todo_new {
  --sizeAdd: 50px;
  display: flex;
  margin: 16px 0 32px;
}

.todo_new input {
  margin-right: 16px;
  font-size: 18px;
  padding: 8px 16px;
  border: 1px solid darkcyan;
  border-radius: 5px;
  height: var(--sizeAdd);
  flex-grow: 1;
}
.todo_add {
  cursor: pointer;
  color: white;
  background-color: darkcyan;
  text-align: center;
  line-height: calc(var(--sizeAdd) * 0.9);
  width: var(--sizeAdd);
  height: var(--sizeAdd);
  border-radius: var(--sizeAdd);
  font-size: 32px;
  border: 2px solid darkcyan;
}

.todo_list {
}
.todo_task {
  --siseTask: 36px;
  display: flex;
  align-items: center;
}
.todo_checkbox {
  margin-right: 16px;
}
.todo_task-text {
  font-size: 25px;
}
.todo_task-delete {
  /* display: none; */
  margin-left: auto;
  margin-right: 7px;
  height: var(--siseTask);
  width: var(--siseTask);
}
